python-telegram-bot==20.7
httpx[http2]
pandas==1.5.3
numpy==1.23.5
pandas-ta==0.3.14b0
websockets==11.0.3
matplotlib==3.7.1
python-dotenv
pytz
python-dateutil
psycopg2-binary
setuptools==69.5.1
wheel
